= link_to share_path(share.id), class: 'share-link' do
  .share{:style => "background-image: url(#{share.image});"}
    %p.share__content
      = share.content
    .share__name
      .share__name__text
        %span 投稿者
      .share__name__text
        %span nori
